# ==========================================
# CONFIGURACIÓN FIREBASE & FIRESTORE // VESSEL (PLANTILLA)
# ==========================================
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSy..."
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="tu-proyecto.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="tu-proyecto"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="tu-proyecto.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_APP_ID="1:123456789:web:abcdef"

# ==========================================
# SEGURIDAD & AUTORIZACIÓN DE CONSOLA /ADMIN
# ==========================================
NEXT_PUBLIC_ADMIN_EMAILS="admin@vessel.network,tu-email@gmail.com"
ADMIN_MASTER_PASSCODE="TU-CODIGO-MAESTRO-SUPERADMIN"
